<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WS-PROJECT-MASTERE</display-name>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <scripting-invalid>true</scripting-invalid>
    </jsp-property-group>
<!--     <jsp-property-group> -->
<!--       <url-pattern>*.jsp</url-pattern> -->
<!--       <include-prelude>/WEB-INF/includes/header.jsp</include-prelude> -->
<!--       <include-coda>/WEB-INF/includes/footer.jsp</include-coda> -->
<!--     </jsp-property-group> -->
  </jsp-config>
  
  <!-- Servlet to UPDATE & GET the History -->
  <servlet>
    <servlet-name>UpdateController</servlet-name>
    <servlet-class>com.ingesup.controller.UpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateController</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  
   <!-- Servlet to DISPLAY, CREATE & GET the Park  -->
  <servlet>
    <servlet-name>ParkController</servlet-name>
    <servlet-class>com.ingesup.controller.ParkController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParkController</servlet-name>
    <url-pattern>/park</url-pattern>
  </servlet-mapping>
  
  <!-- Servlet to DISPLAY & MODIFY the Monitor -->
  <servlet>
  	<servlet-name>MonitorController</servlet-name>
  	<servlet-class>com.ingesup.controller.MonitorController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MonitorController</servlet-name>
  	<url-pattern>/monitor</url-pattern>
  </servlet-mapping>
  
  <!-- Filter to restrict the access on the Monitor interface -->
  <filter>
    <filter-name>HibernateFilter</filter-name>
    <filter-class>com.ingesup.filter.HibernateFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HibernateFilter</filter-name>
	<servlet-name>MonitorController</servlet-name>
  </filter-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>