<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
		 xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" 
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
		 id="WebApp_ID" 
		 version="3.1">
		 
  <display-name>WS-PROJECT-MASTERE</display-name>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <scripting-invalid>true</scripting-invalid>
    </jsp-property-group>
  </jsp-config>
  
    <!-- Configuration SpringMVC -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
 	</servlet>
 
	 <servlet-mapping>
		 <servlet-name>dispatcher</servlet-name>
		 <url-pattern>/</url-pattern>
	 </servlet-mapping> 
	 <context-param>
		 <param-name>contextConfigLocation</param-name>
		 <param-value>/WEB-INF/dispatcher-servlet.xml</param-value>
	 </context-param> 
	 
	 <servlet-mapping>
	    <servlet-name>default</servlet-name>
	    <url-pattern>/assets/*</url-pattern>
	</servlet-mapping>
  
	<!-- Filter to restrict access on the Park's views -->
	<filter>
	  <filter-name>AuthenticationFilter</filter-name>
	  <filter-class>com.ingesup.filter.AuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
	  <filter-name>AuthenticationFilter</filter-name>
	  <url-pattern>/park*</url-pattern>
	</filter-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>